[submodule "External/openssl"]
	path = External/openssl
	url = https://github.com/openssl/openssl.git
[submodule "External/libssh2"]
	path = External/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "External/libgit2"]
	path = External/libgit2
	url = https://github.com/libgit2/libgit2.git
